<section class="section-projet-bilan">
  <div class="container">
    <h1 class="projet-bilan-title">
      Projets / Bilan-Social
    </h1>
    <picture>
      <source srcset="../assets/img/img-bilan.png" type="image/png" />
      <img
        src="../assets/img/img-bilan.png"
        class="projet-bilan-img"
        alt="bilan-home-page"
      />
    </picture>
    <h2 class="projet-bilan-heading">Contexte</h2>
    <p class="projet-bilan-description">
      L’ouverture des données publiques consiste à mettre à disposition
      des citoyens, des entreprises, des chercheurs, des associations et
      des acteurs publics, les données que les collectivités produisent
      dans le cadre leur activité quotidienne, dans un format numérique
      ouvert : informations géographiques, statistiques, études, mesures,
      barèmes, informations de transports, annuaires, etc.
      Cette démarche garantit leur libre accès et leur réutilisation par
      tous afin d’améliorer ou inventer de nouveaux services pour les usagers,
      faire émerger de nouvelles connaissances, enrichir le débat public…
      <br/>
      <br/>
      <a target="_blank" href="https://docs.google.com/document/d/1eOx4CJ5LTcU4OWbHdXWrkAngoNr8q_eFNoHGW4CWXCI/edit?usp=sharing">Voir le rapport de Stage de la CDC</a>
    </p>

    <h2 class="projet-bilan-heading">Besoin</h2>
    <p class="projet-bilan-description">
      Les donnée publiques sont accessible depuis la platforme :
      <a target="_blank" href="https://www.data.corsica/explore/?source=shared&sort=modified">Data Corsica</a>
      <br />
      Ces utilisateurs peuvent ensuite télécharger ces données sur
      différents formats pour les intégrer sur leur site web et
      l’interpréter de la manière qui leurs conviennent.
    </p>

    <h2 class="projet-bilan-heading">Tâches réalisées</h2>
    <p class="projet-bilan-description">
      Lors de ce stage j'ai pu terminer une platforme contenant un jeu d'un bilan social
      retravaillé avec un système de filtre qui affiche la donnée dans un tableau.
      <br/>
      Le code a été validé sur la norme du W3C.
    </p>

    <h2 class="projet-bilan-heading">Compétences validées</h2>
    <p class="projet-bilan-description">
      1 - Gérer le patrimoine informatique
      <br/>
      3 - Développer la présence en ligne de l’organisation
    </p>

    <div class="bilan-btn">
      <a class="projet-cta--flex" target="_blank" href="https://docs.google.com/spreadsheets/d/11Z9Qi3tYghWAvhrd7YeAwAQnJpxM0IehkVotCg-chOg/edit#gid=1519693857">
        Tableau Competences
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</section>
