<section id="projet" class="section-projet">
  <div class="container">
    <h2 class="projet-heading">Projets</h2>

    <div class="projet-items projet--pair">
      <picture>
        <source srcset="../assets/img/img-satyva.png" type="image/png" />
        <img
          src="../assets/img/img-satyva.png"
          class="projet-img"
          alt="satyva-screenshot"
        />
      </picture>
      <div class="projet-items-content">
        <div class="projet-title-flex">
          <h3 projet-items-heading>Satyva</h3>
          <p>AXELERIO</p>
        </div>
        <div class="projet-items-box">
          Application e-commerce développée avec Wordpress, WooCommerce, VivaWallet, Elementor,
          lors de mon stage de Saison chez Axelerio
        </div>
        <div class="projet-list-responsive">
          <div class="projet-items-tech">
          <span>Wordpress</span>
          <span>PHP</span>
          <span>Javascript</span>
          <span>VS Code</span>
        </div>
          <a class="projet-items-btn" routerLink="/projet/satyva">
            En Savoir +
          </a>
        </div>
      </div>
    </div>

    <div class="projet-items projet--inpair">
      <div class="projet-items-content">
        <div class="projet-title-flex">
          <h3 projet-items-heading>Administration</h3>
          <p>BEESIDE</p>
        </div>
        <div class="projet-items-box">
          Projet d'application administration développé avec le framework Angular dans le but d'aider les développeur
          de l'entreprise BEESIDE à gérer les différents droits d'accès aux utilisateurs afin de faciliter leur développement.
        </div>
        <div class="projet-list-responsive">
          <div class="projet-items-tech">
            <span>Angular</span>
            <span>Material UI</span>
            <span>Typescript</span>
            <span>Webstorm</span>
          </div>
          <a class="projet-items-btn" routerLink="/projet/administration">
          En Savoir +
          </a>
        </div>
      </div>
      <picture>
        <source srcset="../assets/img/img-administration.png" type="image/png" />
        <img
          src="../assets/img/img-administration.png"
          class="projet-img"
          alt="administration-screenshot"
        />
      </picture>
    </div>

    <div class="projet-items projet--pair">
      <picture>
        <source srcset="../assets/img/img-portfolio.png" type="image/png" />
        <img
          src="../assets/img/img-portfolio.png"
          class="projet-img"
          alt="satyva-screenshot"
        />
      </picture>
      <div class="projet-items-content">
        <div class="projet-title-flex">
          <h3 projet-items-heading>Portfolio</h3>
          <p>Dévoloppement Personnel</p>
        </div>
        <div class="projet-items-box">
          Développement de mon propre Portfolio sur Angular avec l'aide d'une maquette
          sur Figma que j'ai moi même crée.
        </div>
        <div class="projet-list-responsive">
          <div class="projet-items-tech">
            <span>Angular</span>
            <span>SCSS</span>
            <span>Figma</span>
            <span>Typescript</span>
            <span>Webstorm</span>
          </div>
          <a class="projet-items-btn" routerLink="/projet/portfolio">
            En Savoir +
          </a>
        </div>
      </div>
    </div>

    <div class="projet-btn">
      <a class="projet-cta--flex" routerLink="/projet">
        Plus de Projets
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</section>
