$primary: #3DCAB1;
$background-text-primary: #112437;
$background-text-secondary: #FEFEFE;
$accent-text: #2B455C;
$accent-background: #ECEDF6;

.section-projet-list {
  margin-top: 10rem;
  padding: 1rem 0 9.6rem 0;
  .container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    .projet-list-heading {
      display: flex;
      justify-content: center;
      font-size: 5rem;
      margin: 3rem 0 5rem;
    }
    .projet-list-description {
      color: $background-text-primary;
      font-size: 2rem;
      line-height: 150%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 5rem;
    }
    .projet-btn {
      display: flex;
      justify-content: center;
      margin: 0 auto 10rem;
      .projet-cta--flex {
        padding: 0.6rem 4rem;
        font-size: 1.8rem;
        font-weight: bold;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: $background-text-primary;
        color: $background-text-secondary;
        text-decoration: none;
        svg {
          stroke: $background-text-secondary;
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
    .projet-items {
      position: relative;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      margin-bottom: 10rem;
      &.projet--pair {
        picture {
          grid-column: 1/8;
          box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
          .projet-img {
            width: 100%;
          }
        }
        .projet-items-content {
          text-align: right;
          position: absolute;
          grid-column: 7/-1;
          margin-top: -5rem;
          h3 {
            font-size: 2rem;
            margin-bottom: 2rem;
          }
          p {
            font-size: 2rem;
            color: $accent-text;
            font-weight: bold;
            margin-bottom: 2rem;
          }
          .projet-items-box {
            background-color: $background-text-primary;
            color: $accent-background;
            font-weight: 400;
            font-size: 1.6rem;
            padding: 1.6rem;
            line-height: 150%;
            border-radius: 0.2rem;
            margin-bottom: 2rem;
            box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
          }
          .projet-items-tech {
            color: $accent-text;
            display: flex;
            align-items: center;
            gap: 2rem;
            font-size: 2rem;
            justify-content: end;
            margin-bottom: 4rem;
          }
          .projet-items-btn {
            text-decoration: none;
            background-color: $background-text-primary;
            color: $background-text-secondary;
            font-size: 2rem;
            padding: 1rem 2rem;
            border-radius: 4rem;
            box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            border: 0.2rem solid $background-text-primary;
          }
        }
      }
      &.projet--inpair {
        picture {
          grid-column: 7/-1;
          box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
          .projet-img {
            width: 100%;
          }
        }
        .projet-items-content {
          text-align: left;
          position: absolute;
          grid-column: 1/8;
          margin-top: -5rem;
          h3 {
            font-size: 2rem;
            margin-bottom: 2rem;
          }
          p {
            font-size: 2rem;
            color: $accent-text;
            font-weight: bold;
            margin-bottom: 2rem;
          }
          .projet-items-box {
            background-color: $background-text-primary;
            color: $accent-background;
            font-weight: 400;
            font-size: 1.6rem;
            padding: 1.6rem;
            line-height: 150%;
            border-radius: 0.2rem;
            margin-bottom: 2rem;
            box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
          }
          .projet-items-tech {
            color: $accent-text;
            display: flex;
            align-items: center;
            gap: 2rem;
            font-size: 2rem;
            justify-content: start;
            margin-bottom: 4rem;
          }
          .projet-items-btn {
            text-decoration: none;
            background-color: $background-text-primary;
            color: $background-text-secondary;
            font-size: 2rem;
            padding: 1rem 2rem;
            border-radius: 4rem;
            box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            border: 0.2rem solid $background-text-primary;
          }
        }
      }
    }
  }
}
