$primary: #3DCAB1;
$background-text-primary: #112437;
$background-text-secondary: #FEFEFE;
$accent-text: #2B455C;
$accent-background: #ECEDF6;

.section-parcours {
  padding: 1rem 0 9.6rem 0;
  background-color: $background-text-primary;
  .container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    .parcours-heading {
      margin-top: 5rem;
      font-size: 3rem;
      font-weight: bold;
    }
    .parcours-box {
      margin-top: 5rem;
      display: grid;
      grid-template-columns: 2.5fr 1fr;
      align-items: center;
      gap: 9rem;
      .parcours-formation {
        background-color: $accent-background;
        box-shadow: 10px 10px 35px rgba(255, 255, 255, 0.3);
        border-radius: 0.5rem;
        padding: 4.5rem;
        font-size: 2rem;
        font-weight: 400;
        .parcours-formation-heading {
          color: $background-text-primary;
        }
        .text-accent {
          color: $primary;
        }
        .parcours-description {
          margin-top: 2rem;
          font-size: 1.5rem;
          color: $accent-text;
          line-height: 150%;
        }
        .parcours-formation-content {
          margin-top: 2rem;
          .formation-border--bottom {
            border-bottom: 0.3rem solid $background-text-primary;
            padding: 1.6rem 0;
            display: flex;
            align-items: center;
            gap: 3rem;
            .background-primary {
              font-size: 1.6rem;
              padding: 0.4rem 2.5rem;
              color: $background-text-secondary;
              border-radius: 3rem;
              background-color: $primary;
              font-weight: bold;
            }
            .background-accent {
              font-size: 1.6rem;
              padding: 0.4rem 2.5rem;
              color: $background-text-secondary;
              border-radius: 3rem;
              background-color: $background-text-primary;
              font-weight: bold;
            }
            p {
              color: $background-text-primary;
              font-weight: bold;
            }
          }
        }
      }
      .parcours-skills {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        position: relative;
        &:before {
          content: 'Compétences';
          color: $accent-text;
          background-color: $primary;
          padding: 1rem 3rem;
          border-radius: 3rem;
          position: absolute;
          font-weight: bold;
          font-size: 1.6rem;
          top: -2.5rem;
          left: -3rem;
        }
        .parcours-skills-box {
          box-shadow: 10px 10px 35px rgba(255, 255, 255, 0.3);
          border-radius: 0.5rem;
          background-color: $accent-background;
          padding: 2.5rem;
          display: flex;
          align-items: center;
          gap: 4rem;
          .skills-description {
            h4 {
              color: $background-text-primary;
              font-size: 2rem;
              margin-bottom: 1.6rem;
            }
            p {
              color: $accent-text;
              font-size: 1.6rem;
              line-height: 150%;
            }
          }
          svg {
            width: 9rem;
            height: 9rem;
          }
        }
      }
    }
  }
}
