<section id="parcours" class="section-parcours">
  <div class="container">
    <h2 class="parcours-heading">Parcours</h2>
    <div class="parcours-box">
      <div class="parcours-formation">
        <h3 class="parcours-formation-heading"><span class="text-accent">Formation Scolaire</span> / Expériences Professionnel</h3>
        <p class="parcours-description">
          Après l’obtention de mon baccalauréat je me suis orienté sur l’informatique et au cours de mon BTS j’ai effectué plusieurs formation qui m’on permis d’acquérir plus
          d’expériences dans le domaine du WEB.
        </p>
        <div class="parcours-formation-content">
          <div class="formation-border--bottom">
            <span class="background-accent">2022</span>
            <p>Stage de 2ème année à BEESIDE</p>
          </div>
          <div class="formation-border--bottom">
            <span class="background-primary">2021</span>
            <p>BTS SIO Option SLAM 2ème année</p>
          </div>
          <div class="formation-border--bottom">
            <span class="background-accent">2021</span>
            <p>Stage Saisonnier à AXELERIO</p>
          </div>
          <div class="formation-border--bottom">
            <span class="background-accent">2021</span>
            <p>Stage de 1ère année à la CDC</p>
          </div>
          <div class="formation-border--bottom">
            <span class="background-primary">2020</span>
            <p>BTS SIO Option SLAM 1ère année</p>
          </div>
          <div class="formation-border--bottom">
            <span class="background-primary">2019</span>
            <p>Baccalauréat Technologique STI2D Option SIN</p>
          </div>
        </div>
      </div>

      <div class="parcours-skills">
        <div class="parcours-skills-box">
          <svg viewBox="0 0 58 87" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5 87C22.504 87 29 80.504 29 72.5V58H14.5C6.496 58 0 64.496 0 72.5C0 80.504 6.496 87 14.5 87Z" fill="#0ACF83"/>
            <path d="M0 43.5C0 35.496 6.496 29 14.5 29H29V58H14.5C6.496 58 0 51.504 0 43.5Z" fill="#A259FF"/>
            <path d="M0 14.5C0 6.496 6.496 0 14.5 0H29V29H14.5C6.496 29 0 22.504 0 14.5Z" fill="#F24E1E"/>
            <path d="M29 0H43.5C51.504 0 58 6.496 58 14.5C58 22.504 51.504 29 43.5 29H29V0Z" fill="#FF7262"/>
            <path d="M58 43.5C58 51.504 51.504 58 43.5 58C35.496 58 29 51.504 29 43.5C29 35.496 35.496 29 43.5 29C51.504 29 58 35.496 58 43.5Z" fill="#1ABCFE"/>
          </svg>
          <div class="skills-description">
            <h4>Figma</h4>
            <p>Outil de design et maquettage</p>
          </div>
        </div>
        <div class="parcours-skills-box">
          <svg viewBox="0 0 62 87" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.9622 86.7802L5.73065 79.8101L0.107788 17.0544H61.8922L56.2636 79.8004L30.9622 86.7802Z" fill="#264DE4"/>
            <path d="M51.4447 75.805L56.2546 22.1855H31V81.445L51.4447 75.805Z" fill="#2965F1"/>
            <path d="M12.998 45.4608L13.6911 53.1575H31V45.4608H12.998ZM11.6049 29.8824L12.308 37.5792H31V29.8824H11.6049ZM31 65.45L30.9661 65.459L22.352 63.1444L21.8012 57.006H14.0367L15.1202 69.091L30.9644 73.4675L31 73.4579V65.45Z" fill="#EBEBEB"/>
            <path d="M14.6485 0H24.0163V3.89837H18.5661V7.79674H24.0168V11.6949H14.6485V0ZM25.8901 0H35.2581V3.38987H29.8077V4.06779H35.2581V11.8645H25.8903V8.30477H31.3408V7.62684H25.8898V0H25.8901ZM37.1319 0H46.5V3.38987H41.0496V4.06779H46.5V11.8645H37.1319V8.30477H42.5824V7.62684H37.1322V0H37.1319Z" fill="black"/>
            <path d="M48.9526 45.4608L50.3488 29.8824H30.9734V37.5792H41.8723L41.1685 45.4608H30.9734V53.1575H40.4979L39.5998 63.1396L30.9731 65.4565V73.4639L46.8299 69.091L46.9461 67.7906L48.764 47.5275L48.9526 45.4608Z" fill="white"/>
          </svg>
          <div class="skills-description">
            <h4>CSS</h4>
            <p>Langage de feuille de style </p>
          </div>
        </div>
        <div class="parcours-skills-box">
          <svg viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H82V82H0V0Z" fill="#F7DF1E"/>
            <path d="M21.5609 68.525L27.8358 64.7274C29.0466 66.8738 30.1478 68.69 32.7894 68.69C35.3215 68.69 36.9182 67.6996 36.9182 63.8469V37.646H44.624V63.9558C44.624 71.937 39.9455 75.57 33.1197 75.57C26.9553 75.57 23.377 72.3774 21.5605 68.5244L21.5609 68.525ZM48.8095 67.6993L55.0838 64.0666C56.7357 66.764 58.8824 68.7454 62.68 68.7454C65.8732 68.7454 67.9091 67.149 67.9091 64.9471C67.9091 62.3052 65.8175 61.3693 62.2947 59.8286L60.3686 59.0021C54.809 56.636 51.1212 53.6635 51.1212 47.3886C51.1212 41.6089 55.5246 37.2052 62.4052 37.2052C67.304 37.2052 70.8268 38.9118 73.3586 43.3703L67.3585 47.2236C66.0372 44.8568 64.6067 43.9212 62.4049 43.9212C60.1479 43.9212 58.7168 45.3523 58.7168 47.2236C58.7168 49.5353 60.1479 50.4716 63.4504 51.9027L65.3767 52.7282C71.9271 55.5357 75.6149 58.3977 75.6149 64.8373C75.6149 71.7733 70.1657 75.5709 62.845 75.5709C55.6895 75.5709 51.0658 72.1583 48.8092 67.6996" fill="black"/>
          </svg>
          <div class="skills-description">
            <h4>Javascript</h4>
            <p>Langage de programmation de script</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
