<section id="veille" class="section-veille">
  <div class="container">
    <h2 class="veille-heading">Veille Technologique</h2>
    <p class="veille-description">
      Ma veille Technologique est Principalement sur Tout ce qui touche au WEB et au WEB Design, j'utilise principalement
      Youtube et Twitter pour m'iinformer sur les nouvelles mise à jour de Framework ou autre langages de programmation.
    </p>
    <div class="veille-card-box">

      <div class="veille-content">
        <div class="veille-content-card">
          <div class="card-header">
            <div class="card-header-social">
              <svg viewBox="0 0 54 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54 5.35794C51.9779 6.25199 49.8331 6.83885 47.6369 7.09899C49.9245 5.73057 51.681 3.56362 52.508 0.981727C50.3334 2.2697 47.9541 3.17715 45.4731 3.66489C43.4521 1.51604 40.573 0.173096 37.3864 0.173096C31.2679 0.173096 26.3073 5.12383 26.3073 11.2299C26.3073 12.0967 26.4054 12.9405 26.5942 13.7499C17.3867 13.2887 9.22345 8.88678 3.75912 2.1971C2.80568 3.83015 2.25935 5.72973 2.25935 7.75583C2.25935 11.592 4.21537 14.9763 7.18791 16.9592C5.42858 16.9042 3.70796 16.43 2.1697 15.576C2.16907 15.6224 2.16907 15.6687 2.16907 15.7152C2.16907 21.0725 5.98788 25.5415 11.0559 26.5573C9.42445 27.0001 7.7132 27.0649 6.05285 26.7468C7.46255 31.1396 11.5541 34.3363 16.4019 34.4257C12.6103 37.3912 7.83316 39.159 2.64284 39.159C1.74846 39.159 0.866742 39.1066 0 39.0045C4.90282 42.1417 10.7262 43.9723 16.9826 43.9723C37.3606 43.9723 48.5038 27.1236 48.5038 12.5123C48.5038 12.0327 48.4933 11.5558 48.4718 11.0817C50.6407 9.51685 52.5127 7.5786 54 5.35794Z" fill="#55ACEE"/>
              </svg>
              <svg width="66" height="46" viewBox="0 0 66 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_82_64)">
                  <path d="M64.5423 7.17472C64.1637 5.78796 63.4253 4.5237 62.4005 3.50783C61.3757 2.49195 60.1003 1.75991 58.7013 1.3846C53.5796 0 32.9664 0 32.9664 0C32.9664 0 12.3523 0.041911 7.23057 1.42651C5.83155 1.80185 4.55613 2.53392 3.53133 3.54985C2.50653 4.56577 1.76809 5.83008 1.38957 7.21689C-0.159628 16.2375 -0.760589 29.9828 1.43211 38.6426C1.81067 40.0293 2.54912 41.2936 3.57392 42.3094C4.59872 43.3253 5.87412 44.0574 7.27311 44.4327C12.3948 45.8173 33.0085 45.8173 33.0085 45.8173C33.0085 45.8173 53.6219 45.8173 58.7433 44.4327C60.1424 44.0574 61.4178 43.3254 62.4427 42.3095C63.4675 41.2936 64.206 40.0293 64.5846 38.6426C66.2186 29.6092 66.7221 15.8726 64.5423 7.17498V7.17472Z" fill="#FF0000"/>
                  <path d="M26.4054 32.7264L43.5056 22.9085L26.4054 13.0906V32.7264Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_82_64">
                    <rect width="66" height="46" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <a href="https://www.youtube.com/c/WebDevSimplified/featured" target="_blank">
              <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.1667 10.4167C28.6141 10.4167 28.0842 10.1972 27.6935 9.80647C27.3028 9.41577 27.0833 8.88587 27.0833 8.33333C27.0833 7.7808 27.3028 7.25089 27.6935 6.86019C28.0842 6.46949 28.6141 6.25 29.1667 6.25H41.6667C42.2192 6.25 42.7491 6.46949 43.1398 6.86019C43.5305 7.25089 43.75 7.7808 43.75 8.33333V20.8333C43.75 21.3859 43.5305 21.9158 43.1398 22.3065C42.7491 22.6972 42.2192 22.9167 41.6667 22.9167C41.1141 22.9167 40.5842 22.6972 40.1935 22.3065C39.8028 21.9158 39.5833 21.3859 39.5833 20.8333V13.3625L20.2229 32.7229C19.83 33.1024 19.3037 33.3124 18.7575 33.3077C18.2113 33.3029 17.6887 33.0838 17.3025 32.6975C16.9162 32.3113 16.6971 31.7887 16.6923 31.2425C16.6876 30.6963 16.8976 30.17 17.2771 29.7771L36.6375 10.4167H29.1667ZM6.25 14.5833C6.25 13.4783 6.68899 12.4185 7.47039 11.6371C8.25179 10.8557 9.3116 10.4167 10.4167 10.4167H20.8333C21.3859 10.4167 21.9158 10.6362 22.3065 11.0269C22.6972 11.4176 22.9167 11.9475 22.9167 12.5C22.9167 13.0525 22.6972 13.5824 22.3065 13.9731C21.9158 14.3638 21.3859 14.5833 20.8333 14.5833H10.4167V39.5833H35.4167V29.1667C35.4167 28.6141 35.6362 28.0842 36.0269 27.6935C36.4176 27.3028 36.9475 27.0833 37.5 27.0833C38.0525 27.0833 38.5824 27.3028 38.9731 27.6935C39.3638 28.0842 39.5833 28.6141 39.5833 29.1667V39.5833C39.5833 40.6884 39.1443 41.7482 38.3629 42.5296C37.5815 43.311 36.5217 43.75 35.4167 43.75H10.4167C9.3116 43.75 8.25179 43.311 7.47039 42.5296C6.68899 41.7482 6.25 40.6884 6.25 39.5833V14.5833Z" fill="#ECEDF6"/>
              </svg>
            </a>
          </div>
          <h4 class="card-heading">Web dev Simplify</h4>
          <p class="card-description">
            Offre un contenue axés sur le développement Front-End,
            sur les nouvelles fonctions en Javascript ou bien de la
            recréation d'animation en CSS.
          </p>
        </div>
      </div>
      <div class="veille-content">
        <div class="veille-content-card">
          <div class="card-header">
            <div class="card-header-social">
              <svg viewBox="0 0 54 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54 5.35794C51.9779 6.25199 49.8331 6.83885 47.6369 7.09899C49.9245 5.73057 51.681 3.56362 52.508 0.981727C50.3334 2.2697 47.9541 3.17715 45.4731 3.66489C43.4521 1.51604 40.573 0.173096 37.3864 0.173096C31.2679 0.173096 26.3073 5.12383 26.3073 11.2299C26.3073 12.0967 26.4054 12.9405 26.5942 13.7499C17.3867 13.2887 9.22345 8.88678 3.75912 2.1971C2.80568 3.83015 2.25935 5.72973 2.25935 7.75583C2.25935 11.592 4.21537 14.9763 7.18791 16.9592C5.42858 16.9042 3.70796 16.43 2.1697 15.576C2.16907 15.6224 2.16907 15.6687 2.16907 15.7152C2.16907 21.0725 5.98788 25.5415 11.0559 26.5573C9.42445 27.0001 7.7132 27.0649 6.05285 26.7468C7.46255 31.1396 11.5541 34.3363 16.4019 34.4257C12.6103 37.3912 7.83316 39.159 2.64284 39.159C1.74846 39.159 0.866742 39.1066 0 39.0045C4.90282 42.1417 10.7262 43.9723 16.9826 43.9723C37.3606 43.9723 48.5038 27.1236 48.5038 12.5123C48.5038 12.0327 48.4933 11.5558 48.4718 11.0817C50.6407 9.51685 52.5127 7.5786 54 5.35794Z" fill="#55ACEE"/>
              </svg>
            </div>
            <a href="https://twitter.com/jonasschmedtman" target="_blank">
              <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.1667 10.4167C28.6141 10.4167 28.0842 10.1972 27.6935 9.80647C27.3028 9.41577 27.0833 8.88587 27.0833 8.33333C27.0833 7.7808 27.3028 7.25089 27.6935 6.86019C28.0842 6.46949 28.6141 6.25 29.1667 6.25H41.6667C42.2192 6.25 42.7491 6.46949 43.1398 6.86019C43.5305 7.25089 43.75 7.7808 43.75 8.33333V20.8333C43.75 21.3859 43.5305 21.9158 43.1398 22.3065C42.7491 22.6972 42.2192 22.9167 41.6667 22.9167C41.1141 22.9167 40.5842 22.6972 40.1935 22.3065C39.8028 21.9158 39.5833 21.3859 39.5833 20.8333V13.3625L20.2229 32.7229C19.83 33.1024 19.3037 33.3124 18.7575 33.3077C18.2113 33.3029 17.6887 33.0838 17.3025 32.6975C16.9162 32.3113 16.6971 31.7887 16.6923 31.2425C16.6876 30.6963 16.8976 30.17 17.2771 29.7771L36.6375 10.4167H29.1667ZM6.25 14.5833C6.25 13.4783 6.68899 12.4185 7.47039 11.6371C8.25179 10.8557 9.3116 10.4167 10.4167 10.4167H20.8333C21.3859 10.4167 21.9158 10.6362 22.3065 11.0269C22.6972 11.4176 22.9167 11.9475 22.9167 12.5C22.9167 13.0525 22.6972 13.5824 22.3065 13.9731C21.9158 14.3638 21.3859 14.5833 20.8333 14.5833H10.4167V39.5833H35.4167V29.1667C35.4167 28.6141 35.6362 28.0842 36.0269 27.6935C36.4176 27.3028 36.9475 27.0833 37.5 27.0833C38.0525 27.0833 38.5824 27.3028 38.9731 27.6935C39.3638 28.0842 39.5833 28.6141 39.5833 29.1667V39.5833C39.5833 40.6884 39.1443 41.7482 38.3629 42.5296C37.5815 43.311 36.5217 43.75 35.4167 43.75H10.4167C9.3116 43.75 8.25179 43.311 7.47039 42.5296C6.68899 41.7482 6.25 40.6884 6.25 39.5833V14.5833Z" fill="#ECEDF6"/>
              </svg>
            </a>
          </div>
          <h4 class="card-heading">Jonas Schmedtmann</h4>
          <p class="card-description">
            Jonas est l'un des meilleurs formateur sur la platforme
            Udemy dont j'attend avec inpatience ses nouvelles formations.
          </p>
        </div>
      </div>
      <div class="veille-content">
        <div class="veille-content-card">
          <div class="card-header">
            <div class="card-header-social">
              <svg viewBox="0 0 54 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54 5.35794C51.9779 6.25199 49.8331 6.83885 47.6369 7.09899C49.9245 5.73057 51.681 3.56362 52.508 0.981727C50.3334 2.2697 47.9541 3.17715 45.4731 3.66489C43.4521 1.51604 40.573 0.173096 37.3864 0.173096C31.2679 0.173096 26.3073 5.12383 26.3073 11.2299C26.3073 12.0967 26.4054 12.9405 26.5942 13.7499C17.3867 13.2887 9.22345 8.88678 3.75912 2.1971C2.80568 3.83015 2.25935 5.72973 2.25935 7.75583C2.25935 11.592 4.21537 14.9763 7.18791 16.9592C5.42858 16.9042 3.70796 16.43 2.1697 15.576C2.16907 15.6224 2.16907 15.6687 2.16907 15.7152C2.16907 21.0725 5.98788 25.5415 11.0559 26.5573C9.42445 27.0001 7.7132 27.0649 6.05285 26.7468C7.46255 31.1396 11.5541 34.3363 16.4019 34.4257C12.6103 37.3912 7.83316 39.159 2.64284 39.159C1.74846 39.159 0.866742 39.1066 0 39.0045C4.90282 42.1417 10.7262 43.9723 16.9826 43.9723C37.3606 43.9723 48.5038 27.1236 48.5038 12.5123C48.5038 12.0327 48.4933 11.5558 48.4718 11.0817C50.6407 9.51685 52.5127 7.5786 54 5.35794Z" fill="#55ACEE"/>
              </svg>
            </div>
            <a href="https://twitter.com/angular" target="_blank">
              <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.1667 10.4167C28.6141 10.4167 28.0842 10.1972 27.6935 9.80647C27.3028 9.41577 27.0833 8.88587 27.0833 8.33333C27.0833 7.7808 27.3028 7.25089 27.6935 6.86019C28.0842 6.46949 28.6141 6.25 29.1667 6.25H41.6667C42.2192 6.25 42.7491 6.46949 43.1398 6.86019C43.5305 7.25089 43.75 7.7808 43.75 8.33333V20.8333C43.75 21.3859 43.5305 21.9158 43.1398 22.3065C42.7491 22.6972 42.2192 22.9167 41.6667 22.9167C41.1141 22.9167 40.5842 22.6972 40.1935 22.3065C39.8028 21.9158 39.5833 21.3859 39.5833 20.8333V13.3625L20.2229 32.7229C19.83 33.1024 19.3037 33.3124 18.7575 33.3077C18.2113 33.3029 17.6887 33.0838 17.3025 32.6975C16.9162 32.3113 16.6971 31.7887 16.6923 31.2425C16.6876 30.6963 16.8976 30.17 17.2771 29.7771L36.6375 10.4167H29.1667ZM6.25 14.5833C6.25 13.4783 6.68899 12.4185 7.47039 11.6371C8.25179 10.8557 9.3116 10.4167 10.4167 10.4167H20.8333C21.3859 10.4167 21.9158 10.6362 22.3065 11.0269C22.6972 11.4176 22.9167 11.9475 22.9167 12.5C22.9167 13.0525 22.6972 13.5824 22.3065 13.9731C21.9158 14.3638 21.3859 14.5833 20.8333 14.5833H10.4167V39.5833H35.4167V29.1667C35.4167 28.6141 35.6362 28.0842 36.0269 27.6935C36.4176 27.3028 36.9475 27.0833 37.5 27.0833C38.0525 27.0833 38.5824 27.3028 38.9731 27.6935C39.3638 28.0842 39.5833 28.6141 39.5833 29.1667V39.5833C39.5833 40.6884 39.1443 41.7482 38.3629 42.5296C37.5815 43.311 36.5217 43.75 35.4167 43.75H10.4167C9.3116 43.75 8.25179 43.311 7.47039 42.5296C6.68899 41.7482 6.25 40.6884 6.25 39.5833V14.5833Z" fill="#ECEDF6"/>
              </svg>
            </a>
          </div>
          <h4 class="card-heading">Angular</h4>
          <p class="card-description">
            Je m'informe sur les nouvelles mises à jour du framework Angular
            sur ce compte twitter pour me tenir informer.
          </p>
        </div>
      </div>
      <div class="veille-content">
        <div class="veille-content-card">
          <div class="card-header">
            <div class="card-header-social">
              <svg viewBox="0 0 54 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54 5.35794C51.9779 6.25199 49.8331 6.83885 47.6369 7.09899C49.9245 5.73057 51.681 3.56362 52.508 0.981727C50.3334 2.2697 47.9541 3.17715 45.4731 3.66489C43.4521 1.51604 40.573 0.173096 37.3864 0.173096C31.2679 0.173096 26.3073 5.12383 26.3073 11.2299C26.3073 12.0967 26.4054 12.9405 26.5942 13.7499C17.3867 13.2887 9.22345 8.88678 3.75912 2.1971C2.80568 3.83015 2.25935 5.72973 2.25935 7.75583C2.25935 11.592 4.21537 14.9763 7.18791 16.9592C5.42858 16.9042 3.70796 16.43 2.1697 15.576C2.16907 15.6224 2.16907 15.6687 2.16907 15.7152C2.16907 21.0725 5.98788 25.5415 11.0559 26.5573C9.42445 27.0001 7.7132 27.0649 6.05285 26.7468C7.46255 31.1396 11.5541 34.3363 16.4019 34.4257C12.6103 37.3912 7.83316 39.159 2.64284 39.159C1.74846 39.159 0.866742 39.1066 0 39.0045C4.90282 42.1417 10.7262 43.9723 16.9826 43.9723C37.3606 43.9723 48.5038 27.1236 48.5038 12.5123C48.5038 12.0327 48.4933 11.5558 48.4718 11.0817C50.6407 9.51685 52.5127 7.5786 54 5.35794Z" fill="#55ACEE"/>
              </svg>
              <svg width="66" height="46" viewBox="0 0 66 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_82_64)">
                  <path d="M64.5423 7.17472C64.1637 5.78796 63.4253 4.5237 62.4005 3.50783C61.3757 2.49195 60.1003 1.75991 58.7013 1.3846C53.5796 0 32.9664 0 32.9664 0C32.9664 0 12.3523 0.041911 7.23057 1.42651C5.83155 1.80185 4.55613 2.53392 3.53133 3.54985C2.50653 4.56577 1.76809 5.83008 1.38957 7.21689C-0.159628 16.2375 -0.760589 29.9828 1.43211 38.6426C1.81067 40.0293 2.54912 41.2936 3.57392 42.3094C4.59872 43.3253 5.87412 44.0574 7.27311 44.4327C12.3948 45.8173 33.0085 45.8173 33.0085 45.8173C33.0085 45.8173 53.6219 45.8173 58.7433 44.4327C60.1424 44.0574 61.4178 43.3254 62.4427 42.3095C63.4675 41.2936 64.206 40.0293 64.5846 38.6426C66.2186 29.6092 66.7221 15.8726 64.5423 7.17498V7.17472Z" fill="#FF0000"/>
                  <path d="M26.4054 32.7264L43.5056 22.9085L26.4054 13.0906V32.7264Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_82_64">
                    <rect width="66" height="46" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <a href="https://twitter.com/KevinJPowell" target="_blank">
              <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.1667 10.4167C28.6141 10.4167 28.0842 10.1972 27.6935 9.80647C27.3028 9.41577 27.0833 8.88587 27.0833 8.33333C27.0833 7.7808 27.3028 7.25089 27.6935 6.86019C28.0842 6.46949 28.6141 6.25 29.1667 6.25H41.6667C42.2192 6.25 42.7491 6.46949 43.1398 6.86019C43.5305 7.25089 43.75 7.7808 43.75 8.33333V20.8333C43.75 21.3859 43.5305 21.9158 43.1398 22.3065C42.7491 22.6972 42.2192 22.9167 41.6667 22.9167C41.1141 22.9167 40.5842 22.6972 40.1935 22.3065C39.8028 21.9158 39.5833 21.3859 39.5833 20.8333V13.3625L20.2229 32.7229C19.83 33.1024 19.3037 33.3124 18.7575 33.3077C18.2113 33.3029 17.6887 33.0838 17.3025 32.6975C16.9162 32.3113 16.6971 31.7887 16.6923 31.2425C16.6876 30.6963 16.8976 30.17 17.2771 29.7771L36.6375 10.4167H29.1667ZM6.25 14.5833C6.25 13.4783 6.68899 12.4185 7.47039 11.6371C8.25179 10.8557 9.3116 10.4167 10.4167 10.4167H20.8333C21.3859 10.4167 21.9158 10.6362 22.3065 11.0269C22.6972 11.4176 22.9167 11.9475 22.9167 12.5C22.9167 13.0525 22.6972 13.5824 22.3065 13.9731C21.9158 14.3638 21.3859 14.5833 20.8333 14.5833H10.4167V39.5833H35.4167V29.1667C35.4167 28.6141 35.6362 28.0842 36.0269 27.6935C36.4176 27.3028 36.9475 27.0833 37.5 27.0833C38.0525 27.0833 38.5824 27.3028 38.9731 27.6935C39.3638 28.0842 39.5833 28.6141 39.5833 29.1667V39.5833C39.5833 40.6884 39.1443 41.7482 38.3629 42.5296C37.5815 43.311 36.5217 43.75 35.4167 43.75H10.4167C9.3116 43.75 8.25179 43.311 7.47039 42.5296C6.68899 41.7482 6.25 40.6884 6.25 39.5833V14.5833Z" fill="#ECEDF6"/>
              </svg>
            </a>
          </div>
          <h4 class="card-heading">Kevin Powell</h4>
          <p class="card-description">
            Offre un contenue axé principalement sur le CSS avec des challenge ou
            alors des dernières actualité sur ce langage.
          </p>
        </div>
      </div>

      <div class="veille-content">
        <div class="veille-content-card">
          <div class="card-header">
            <div class="card-header-social">
              <svg width="66" height="46" viewBox="0 0 66 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_82_64)">
                  <path d="M64.5423 7.17472C64.1637 5.78796 63.4253 4.5237 62.4005 3.50783C61.3757 2.49195 60.1003 1.75991 58.7013 1.3846C53.5796 0 32.9664 0 32.9664 0C32.9664 0 12.3523 0.041911 7.23057 1.42651C5.83155 1.80185 4.55613 2.53392 3.53133 3.54985C2.50653 4.56577 1.76809 5.83008 1.38957 7.21689C-0.159628 16.2375 -0.760589 29.9828 1.43211 38.6426C1.81067 40.0293 2.54912 41.2936 3.57392 42.3094C4.59872 43.3253 5.87412 44.0574 7.27311 44.4327C12.3948 45.8173 33.0085 45.8173 33.0085 45.8173C33.0085 45.8173 53.6219 45.8173 58.7433 44.4327C60.1424 44.0574 61.4178 43.3254 62.4427 42.3095C63.4675 41.2936 64.206 40.0293 64.5846 38.6426C66.2186 29.6092 66.7221 15.8726 64.5423 7.17498V7.17472Z" fill="#FF0000"/>
                  <path d="M26.4054 32.7264L43.5056 22.9085L26.4054 13.0906V32.7264Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_82_64">
                    <rect width="66" height="46" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <a href="https://www.youtube.com/channel/UCgkDs77BoEhMIgRUB4MKrtQ" target="_blank">
              <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.1667 10.4167C28.6141 10.4167 28.0842 10.1972 27.6935 9.80647C27.3028 9.41577 27.0833 8.88587 27.0833 8.33333C27.0833 7.7808 27.3028 7.25089 27.6935 6.86019C28.0842 6.46949 28.6141 6.25 29.1667 6.25H41.6667C42.2192 6.25 42.7491 6.46949 43.1398 6.86019C43.5305 7.25089 43.75 7.7808 43.75 8.33333V20.8333C43.75 21.3859 43.5305 21.9158 43.1398 22.3065C42.7491 22.6972 42.2192 22.9167 41.6667 22.9167C41.1141 22.9167 40.5842 22.6972 40.1935 22.3065C39.8028 21.9158 39.5833 21.3859 39.5833 20.8333V13.3625L20.2229 32.7229C19.83 33.1024 19.3037 33.3124 18.7575 33.3077C18.2113 33.3029 17.6887 33.0838 17.3025 32.6975C16.9162 32.3113 16.6971 31.7887 16.6923 31.2425C16.6876 30.6963 16.8976 30.17 17.2771 29.7771L36.6375 10.4167H29.1667ZM6.25 14.5833C6.25 13.4783 6.68899 12.4185 7.47039 11.6371C8.25179 10.8557 9.3116 10.4167 10.4167 10.4167H20.8333C21.3859 10.4167 21.9158 10.6362 22.3065 11.0269C22.6972 11.4176 22.9167 11.9475 22.9167 12.5C22.9167 13.0525 22.6972 13.5824 22.3065 13.9731C21.9158 14.3638 21.3859 14.5833 20.8333 14.5833H10.4167V39.5833H35.4167V29.1667C35.4167 28.6141 35.6362 28.0842 36.0269 27.6935C36.4176 27.3028 36.9475 27.0833 37.5 27.0833C38.0525 27.0833 38.5824 27.3028 38.9731 27.6935C39.3638 28.0842 39.5833 28.6141 39.5833 29.1667V39.5833C39.5833 40.6884 39.1443 41.7482 38.3629 42.5296C37.5815 43.311 36.5217 43.75 35.4167 43.75H10.4167C9.3116 43.75 8.25179 43.311 7.47039 42.5296C6.68899 41.7482 6.25 40.6884 6.25 39.5833V14.5833Z" fill="#ECEDF6"/>
              </svg>
            </a>
          </div>
          <h4 class="card-heading">Bedimcode</h4>
          <p class="card-description">
            Offre une construction de site avec les nouvelles tendances de WEB Design.
          </p>
        </div>
      </div>
      <div class="veille-content">
        <div class="veille-content-card">
          <div class="card-header">
            <div class="card-header-social">
              <svg viewBox="0 0 54 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54 5.35794C51.9779 6.25199 49.8331 6.83885 47.6369 7.09899C49.9245 5.73057 51.681 3.56362 52.508 0.981727C50.3334 2.2697 47.9541 3.17715 45.4731 3.66489C43.4521 1.51604 40.573 0.173096 37.3864 0.173096C31.2679 0.173096 26.3073 5.12383 26.3073 11.2299C26.3073 12.0967 26.4054 12.9405 26.5942 13.7499C17.3867 13.2887 9.22345 8.88678 3.75912 2.1971C2.80568 3.83015 2.25935 5.72973 2.25935 7.75583C2.25935 11.592 4.21537 14.9763 7.18791 16.9592C5.42858 16.9042 3.70796 16.43 2.1697 15.576C2.16907 15.6224 2.16907 15.6687 2.16907 15.7152C2.16907 21.0725 5.98788 25.5415 11.0559 26.5573C9.42445 27.0001 7.7132 27.0649 6.05285 26.7468C7.46255 31.1396 11.5541 34.3363 16.4019 34.4257C12.6103 37.3912 7.83316 39.159 2.64284 39.159C1.74846 39.159 0.866742 39.1066 0 39.0045C4.90282 42.1417 10.7262 43.9723 16.9826 43.9723C37.3606 43.9723 48.5038 27.1236 48.5038 12.5123C48.5038 12.0327 48.4933 11.5558 48.4718 11.0817C50.6407 9.51685 52.5127 7.5786 54 5.35794Z" fill="#55ACEE"/>
              </svg>
              <svg width="66" height="46" viewBox="0 0 66 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_82_64)">
                  <path d="M64.5423 7.17472C64.1637 5.78796 63.4253 4.5237 62.4005 3.50783C61.3757 2.49195 60.1003 1.75991 58.7013 1.3846C53.5796 0 32.9664 0 32.9664 0C32.9664 0 12.3523 0.041911 7.23057 1.42651C5.83155 1.80185 4.55613 2.53392 3.53133 3.54985C2.50653 4.56577 1.76809 5.83008 1.38957 7.21689C-0.159628 16.2375 -0.760589 29.9828 1.43211 38.6426C1.81067 40.0293 2.54912 41.2936 3.57392 42.3094C4.59872 43.3253 5.87412 44.0574 7.27311 44.4327C12.3948 45.8173 33.0085 45.8173 33.0085 45.8173C33.0085 45.8173 53.6219 45.8173 58.7433 44.4327C60.1424 44.0574 61.4178 43.3254 62.4427 42.3095C63.4675 41.2936 64.206 40.0293 64.5846 38.6426C66.2186 29.6092 66.7221 15.8726 64.5423 7.17498V7.17472Z" fill="#FF0000"/>
                  <path d="M26.4054 32.7264L43.5056 22.9085L26.4054 13.0906V32.7264Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_82_64">
                    <rect width="66" height="46" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <a href="https://twitter.com/figma" target="_blank">
              <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.1667 10.4167C28.6141 10.4167 28.0842 10.1972 27.6935 9.80647C27.3028 9.41577 27.0833 8.88587 27.0833 8.33333C27.0833 7.7808 27.3028 7.25089 27.6935 6.86019C28.0842 6.46949 28.6141 6.25 29.1667 6.25H41.6667C42.2192 6.25 42.7491 6.46949 43.1398 6.86019C43.5305 7.25089 43.75 7.7808 43.75 8.33333V20.8333C43.75 21.3859 43.5305 21.9158 43.1398 22.3065C42.7491 22.6972 42.2192 22.9167 41.6667 22.9167C41.1141 22.9167 40.5842 22.6972 40.1935 22.3065C39.8028 21.9158 39.5833 21.3859 39.5833 20.8333V13.3625L20.2229 32.7229C19.83 33.1024 19.3037 33.3124 18.7575 33.3077C18.2113 33.3029 17.6887 33.0838 17.3025 32.6975C16.9162 32.3113 16.6971 31.7887 16.6923 31.2425C16.6876 30.6963 16.8976 30.17 17.2771 29.7771L36.6375 10.4167H29.1667ZM6.25 14.5833C6.25 13.4783 6.68899 12.4185 7.47039 11.6371C8.25179 10.8557 9.3116 10.4167 10.4167 10.4167H20.8333C21.3859 10.4167 21.9158 10.6362 22.3065 11.0269C22.6972 11.4176 22.9167 11.9475 22.9167 12.5C22.9167 13.0525 22.6972 13.5824 22.3065 13.9731C21.9158 14.3638 21.3859 14.5833 20.8333 14.5833H10.4167V39.5833H35.4167V29.1667C35.4167 28.6141 35.6362 28.0842 36.0269 27.6935C36.4176 27.3028 36.9475 27.0833 37.5 27.0833C38.0525 27.0833 38.5824 27.3028 38.9731 27.6935C39.3638 28.0842 39.5833 28.6141 39.5833 29.1667V39.5833C39.5833 40.6884 39.1443 41.7482 38.3629 42.5296C37.5815 43.311 36.5217 43.75 35.4167 43.75H10.4167C9.3116 43.75 8.25179 43.311 7.47039 42.5296C6.68899 41.7482 6.25 40.6884 6.25 39.5833V14.5833Z" fill="#ECEDF6"/>
              </svg>
            </a>
          </div>
          <h4 class="card-heading">Figma</h4>
          <p class="card-description">
            Figma est l'application dont j'utilise le plus de ce fait je me documente
            sur son actualité pour recevoir à l'avance les nouvelles fonctionnalités.
          </p>
        </div>
      </div>
      <div class="veille-content">
        <div class="veille-content-card">
          <div class="card-header">
            <div class="card-header-social">
              <svg width="66" height="46" viewBox="0 0 66 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_82_64)">
                  <path d="M64.5423 7.17472C64.1637 5.78796 63.4253 4.5237 62.4005 3.50783C61.3757 2.49195 60.1003 1.75991 58.7013 1.3846C53.5796 0 32.9664 0 32.9664 0C32.9664 0 12.3523 0.041911 7.23057 1.42651C5.83155 1.80185 4.55613 2.53392 3.53133 3.54985C2.50653 4.56577 1.76809 5.83008 1.38957 7.21689C-0.159628 16.2375 -0.760589 29.9828 1.43211 38.6426C1.81067 40.0293 2.54912 41.2936 3.57392 42.3094C4.59872 43.3253 5.87412 44.0574 7.27311 44.4327C12.3948 45.8173 33.0085 45.8173 33.0085 45.8173C33.0085 45.8173 53.6219 45.8173 58.7433 44.4327C60.1424 44.0574 61.4178 43.3254 62.4427 42.3095C63.4675 41.2936 64.206 40.0293 64.5846 38.6426C66.2186 29.6092 66.7221 15.8726 64.5423 7.17498V7.17472Z" fill="#FF0000"/>
                  <path d="M26.4054 32.7264L43.5056 22.9085L26.4054 13.0906V32.7264Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_82_64">
                    <rect width="66" height="46" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <a href="https://www.youtube.com/c/Fireship" target="_blank">
              <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.1667 10.4167C28.6141 10.4167 28.0842 10.1972 27.6935 9.80647C27.3028 9.41577 27.0833 8.88587 27.0833 8.33333C27.0833 7.7808 27.3028 7.25089 27.6935 6.86019C28.0842 6.46949 28.6141 6.25 29.1667 6.25H41.6667C42.2192 6.25 42.7491 6.46949 43.1398 6.86019C43.5305 7.25089 43.75 7.7808 43.75 8.33333V20.8333C43.75 21.3859 43.5305 21.9158 43.1398 22.3065C42.7491 22.6972 42.2192 22.9167 41.6667 22.9167C41.1141 22.9167 40.5842 22.6972 40.1935 22.3065C39.8028 21.9158 39.5833 21.3859 39.5833 20.8333V13.3625L20.2229 32.7229C19.83 33.1024 19.3037 33.3124 18.7575 33.3077C18.2113 33.3029 17.6887 33.0838 17.3025 32.6975C16.9162 32.3113 16.6971 31.7887 16.6923 31.2425C16.6876 30.6963 16.8976 30.17 17.2771 29.7771L36.6375 10.4167H29.1667ZM6.25 14.5833C6.25 13.4783 6.68899 12.4185 7.47039 11.6371C8.25179 10.8557 9.3116 10.4167 10.4167 10.4167H20.8333C21.3859 10.4167 21.9158 10.6362 22.3065 11.0269C22.6972 11.4176 22.9167 11.9475 22.9167 12.5C22.9167 13.0525 22.6972 13.5824 22.3065 13.9731C21.9158 14.3638 21.3859 14.5833 20.8333 14.5833H10.4167V39.5833H35.4167V29.1667C35.4167 28.6141 35.6362 28.0842 36.0269 27.6935C36.4176 27.3028 36.9475 27.0833 37.5 27.0833C38.0525 27.0833 38.5824 27.3028 38.9731 27.6935C39.3638 28.0842 39.5833 28.6141 39.5833 29.1667V39.5833C39.5833 40.6884 39.1443 41.7482 38.3629 42.5296C37.5815 43.311 36.5217 43.75 35.4167 43.75H10.4167C9.3116 43.75 8.25179 43.311 7.47039 42.5296C6.68899 41.7482 6.25 40.6884 6.25 39.5833V14.5833Z" fill="#ECEDF6"/>
              </svg>
            </a>
          </div>
          <h4 class="card-heading">Fireship </h4>
          <p class="card-description">
            Fireship offres des videos de résumé de langages de programmation ou framework
            en 100 secondes ce qui permet d'avoir une petite introduction sur ce langage.
          </p>
        </div>
      </div>
      <div class="veille-content">
        <div class="veille-content-card">
          <div class="card-header">
            <div class="card-header-social">
              <svg viewBox="0 0 54 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54 5.35794C51.9779 6.25199 49.8331 6.83885 47.6369 7.09899C49.9245 5.73057 51.681 3.56362 52.508 0.981727C50.3334 2.2697 47.9541 3.17715 45.4731 3.66489C43.4521 1.51604 40.573 0.173096 37.3864 0.173096C31.2679 0.173096 26.3073 5.12383 26.3073 11.2299C26.3073 12.0967 26.4054 12.9405 26.5942 13.7499C17.3867 13.2887 9.22345 8.88678 3.75912 2.1971C2.80568 3.83015 2.25935 5.72973 2.25935 7.75583C2.25935 11.592 4.21537 14.9763 7.18791 16.9592C5.42858 16.9042 3.70796 16.43 2.1697 15.576C2.16907 15.6224 2.16907 15.6687 2.16907 15.7152C2.16907 21.0725 5.98788 25.5415 11.0559 26.5573C9.42445 27.0001 7.7132 27.0649 6.05285 26.7468C7.46255 31.1396 11.5541 34.3363 16.4019 34.4257C12.6103 37.3912 7.83316 39.159 2.64284 39.159C1.74846 39.159 0.866742 39.1066 0 39.0045C4.90282 42.1417 10.7262 43.9723 16.9826 43.9723C37.3606 43.9723 48.5038 27.1236 48.5038 12.5123C48.5038 12.0327 48.4933 11.5558 48.4718 11.0817C50.6407 9.51685 52.5127 7.5786 54 5.35794Z" fill="#55ACEE"/>
              </svg>
            </div>
            <a href="https://twitter.com/_georgemoller" target="_blank">
              <svg viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.1667 10.4167C28.6141 10.4167 28.0842 10.1972 27.6935 9.80647C27.3028 9.41577 27.0833 8.88587 27.0833 8.33333C27.0833 7.7808 27.3028 7.25089 27.6935 6.86019C28.0842 6.46949 28.6141 6.25 29.1667 6.25H41.6667C42.2192 6.25 42.7491 6.46949 43.1398 6.86019C43.5305 7.25089 43.75 7.7808 43.75 8.33333V20.8333C43.75 21.3859 43.5305 21.9158 43.1398 22.3065C42.7491 22.6972 42.2192 22.9167 41.6667 22.9167C41.1141 22.9167 40.5842 22.6972 40.1935 22.3065C39.8028 21.9158 39.5833 21.3859 39.5833 20.8333V13.3625L20.2229 32.7229C19.83 33.1024 19.3037 33.3124 18.7575 33.3077C18.2113 33.3029 17.6887 33.0838 17.3025 32.6975C16.9162 32.3113 16.6971 31.7887 16.6923 31.2425C16.6876 30.6963 16.8976 30.17 17.2771 29.7771L36.6375 10.4167H29.1667ZM6.25 14.5833C6.25 13.4783 6.68899 12.4185 7.47039 11.6371C8.25179 10.8557 9.3116 10.4167 10.4167 10.4167H20.8333C21.3859 10.4167 21.9158 10.6362 22.3065 11.0269C22.6972 11.4176 22.9167 11.9475 22.9167 12.5C22.9167 13.0525 22.6972 13.5824 22.3065 13.9731C21.9158 14.3638 21.3859 14.5833 20.8333 14.5833H10.4167V39.5833H35.4167V29.1667C35.4167 28.6141 35.6362 28.0842 36.0269 27.6935C36.4176 27.3028 36.9475 27.0833 37.5 27.0833C38.0525 27.0833 38.5824 27.3028 38.9731 27.6935C39.3638 28.0842 39.5833 28.6141 39.5833 29.1667V39.5833C39.5833 40.6884 39.1443 41.7482 38.3629 42.5296C37.5815 43.311 36.5217 43.75 35.4167 43.75H10.4167C9.3116 43.75 8.25179 43.311 7.47039 42.5296C6.68899 41.7482 6.25 40.6884 6.25 39.5833V14.5833Z" fill="#ECEDF6"/>
              </svg>
            </a>
          </div>
          <h4 class="card-heading">George Moller</h4>
          <p class="card-description">
            Offres des penses-bêtes pour se souvenir des fonctions en javascript,
            CSS et bien d'autres sur le thème du WEB.
          </p>
        </div>
      </div>

    </div>
    <div class="veille-btn">
      <a class="veille-cta--flex" routerLink="/veille-technologique">
        Plus de Veilles
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</section>
