<section id="contact" class="section-contact">
  <div class="container">
    <h2 class="contact-heading">Contact</h2>
    <p class="contact-description">
      Si vous avez des questions vous pouvez me contacter en appuyant sur ce boutton.
    </p>
    <div class="contact-btn">
      <a class="contact-cta--flex" href="mailto:stephan.gueorguieff@gmail.com">
        Prendre Contact
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</section>
