$primary: #3DCAB1;
$background-text-primary: #112437;
$background-text-secondary: #FEFEFE;
$accent-text: #2B455C;
$accent-background: #ECEDF6;

.section-contact {
  padding: 1rem 0 9.6rem 0;
  .container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    .contact-heading {
      text-align: center;
      margin: 5rem 0;
      font-size: 6rem;
      font-weight: bold;
    }
    .contact-description {
      color: $background-text-primary;
      text-align: center;
      font-size: 2.6rem;
      line-height: 150%;
      margin-bottom: 5rem;
    }
    .contact-btn {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .contact-cta--flex {
        padding: 0.6rem 4rem;
        font-size: 1.8rem;
        font-weight: bold;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: $background-text-primary;
        color: $background-text-secondary;
        text-decoration: none;
        svg {
          stroke: $background-text-secondary;
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
  }
}
