<section class="section-projet-satyva">
  <div class="container">
    <h1 class="projet-satyva-title">
      Projets / Satyva
    </h1>
    <picture>
      <source srcset="../assets/img/items/img-item-satyva.JPG" type="image/png" />
      <img
        src="../assets/img/items/img-item-satyva.JPG"
        class="projet-satyva-img"
        alt="satyva-home-page"
      />
    </picture>
    <h2 class="projet-satyva-heading">Contexte</h2>
    <p class="projet-satyva-description">
      Nous souhaitons développer un nouveau système d’abonnement.
      Le but serait de proposer à nos clients un abonnement mensuel
      qui leur permettrait de bénéficier de réduction sur notre boutique
      en ligne ainsi que dans l’ensemble de nos magasins (franchisés pour la plupart).
    </p>

    <h2 class="projet-satyva-heading">Besoin</h2>
    <p class="projet-satyva-description">
      Nous aimerions avoir une application qui permet de :
      <br/>

      - S’abonner à l’abonnement qu’on propose. Cet abonnement devra être
      lié aux boutiques franchisés mais aussi via le site internet.
      <br/>
      - D’accéder à notre boutique en ligne (il faut donc lier notre
      site à l’application) et d’y effectuer des achats.
      <br/>
      - De recevoir des notifications push.
    </p>

    <h2 class="projet-satyva-heading">Tâches réalisées</h2>
    <p class="projet-satyva-description">
      Durant ce stage j'ai pu :
      <br />
      - Mettre en ligne l'application sur o2switch avec un Hébergeur OVH.
      <br/>
      - Me documenter sur les plugins ou API qu'on pouvait utiliser pour l'application WooCommerce.
      <br/>
      - Mise en place d'un thème CBD wordpress avec elementor en plus du responsive de l'application.
      <br/>
      - Installation d'une librairie pour le QrCode et configuration des données pour pouvoir avoir
      les informations des clients dans le QrCode pour répondre au contexte sur les abonnements.
    </p>

    <h2 class="projet-satyva-heading">Compétences validées</h2>
    <p class="projet-satyva-description">
      1 - Gérer le patrimoine informatique
      <br/>
      2 - Répondre aux incidents et aux demandes d’assistance et d’évolution
      <br/>
      3 - Développer la présence en ligne de l’organisation
      <br/>
      4 - Travailler en mode projet
      <br/>
      5 - Mettre à disposition des utilisateurs un service informatique
    </p>

    <div class="satyva-btn">
      <a class="projet-cta--flex" target="_blank" href="https://docs.google.com/spreadsheets/d/11Z9Qi3tYghWAvhrd7YeAwAQnJpxM0IehkVotCg-chOg/edit#gid=1519693857">
        Tableau Competences
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>

  </div>
</section>
