$primary: #3DCAB1;
$background-text-primary: #112437;
$background-text-secondary: #FEFEFE;
$accent-text: #2B455C;
$accent-background: #ECEDF6;

.section-projet-satyva {
  margin-top: 6rem;
  padding: 1rem 0 9.6rem 0;
  .container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    .satyva-btn {
      display: flex;
      justify-content: center;
      margin: 0 auto 10rem;
      .projet-cta--flex {
        padding: 0.6rem 4rem;
        font-size: 1.8rem;
        font-weight: bold;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: $background-text-primary;
        color: $background-text-secondary;
        text-decoration: none;
        svg {
          stroke: $background-text-secondary;
          width: 2.8rem;
          height: 2.8rem;
        }
      }
    }
    .projet-satyva-title {
      display: flex;
      justify-content: center;
      margin: 6rem 0;
      font-size: 4rem;
      span {
        color: $background-text-primary;
      }
    }
    picture {
      display: block;
      box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.3);
      margin-bottom: 6rem;
      .projet-satyva-img {
        width: 100%;
      }
    }
    .projet-satyva-heading {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
    .projet-satyva-description {
      color: $background-text-primary;
      font-size: 2rem;
      margin-bottom: 5rem;
      line-height: 150%;
    }
  }
}
