<section class="section-projet-portfolio">
  <div class="container">
    <h1 class="projet-portfolio-title">
      Projets / Portfolio
    </h1>
    <picture>
      <source srcset="../assets/img/img-portfolio.png" type="image/png" />
      <img
        src="../assets/img/img-portfolio.png"
        class="projet-portfolio-img"
        alt="portfolio-home-page"
      />
    </picture>

    <h2 class="projet-portfolio-heading">Besoin</h2>
    <p class="projet-portfolio-description">
      Le portfolio doit contenir les preuves des compétences validées sur Mahara.
    </p>

    <h2 class="projet-portfolio-heading">Tâches réalisées</h2>
    <p class="projet-portfolio-description">
      - Portfolio développement d'une maquette sur Figma et développement du portfolio en  Angular.
      <br/>
      - Mise en place du responsive.
    </p>

    <h2 class="projet-portfolio-heading">Compétences validées</h2>
    <p class="projet-portfolio-description">
      1 - Gérer le patrimoine informatique
      <br/>
      3 - Développer la présence en ligne de l’organisation
      <br/>
      5 - Mettre à disposition des utilisateurs un service informatique
      <br/>
      6 - Organiser son développement professionnel
    </p>

    <div class="portfolio-btn">
      <a class="projet-cta--flex" target="_blank" href="https://docs.google.com/spreadsheets/d/11Z9Qi3tYghWAvhrd7YeAwAQnJpxM0IehkVotCg-chOg/edit#gid=1519693857">
        Tableau Competences
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>

  </div>
</section>
