<section class="section-projet-administration">
  <div class="container">
    <h1 class="projet-administration-title">
      Projets / Administration
    </h1>
    <picture>
      <source srcset="../assets/img/img-administration.png" type="image/png" />
      <img
        src="../assets/img/img-administration.png"
        class="projet-administration-img"
        alt="administration-home-page"
      />
    </picture>
    <h2 class="projet-administration-heading">Contexte</h2>
    <p class="projet-administration-description">
      Mon tuteur m’a confié la tâche des projets côté Front-end ( côté client ),
      l’entreprise utilise la technologie Angular pour leur application côté client.
      <br/>
      De ce fait, j'ai dû me former sur celui-ci sur des sites commme Udemy ou Openclassroom.
      <br/>
      Après avoir vu quelques notions sur Angular, mon tuteur m’a mis sur un projet
      d’administration en me donnant des petites tâches pour bien me familiariser avec ce framework.
      <br/>
      <br/>
      <a target="_blank" href="https://docs.google.com/document/d/1mEEfNwtg2J6edXJfH-qbI_VtprsxE-IlH78nSWvGYoA/edit?usp=sharing">Voir le rapport de Stage de BEESIDE</a>
    </p>

    <h2 class="projet-administration-heading">Besoin</h2>
    <p class="projet-administration-description">
      BEESIDE a besoin de cette platforme d'administration pour pouvoir
      gérer tous les droits des utilisateurs ou bien créer de nouveaux utilisateurs
      sur toutes leurs applications.
      <br/>
      Dans le but d'éviter de perdre du temps et d'accélérer cette démarche.
    </p>

    <h2 class="projet-administration-heading">Tâches réalisées</h2>
    <p class="projet-administration-description">
      Durant ce stage chez BEESIDE j'ai pu réaliser une documentation sur
      le SSR (Server Side Rendering).
      <br/>
      Mettre en place un système de dashboard avec la création, suppression et modification
      des utilisateurs qui était ensuite répertoriés dans une base de donnée.

    </p>

    <h2 class="projet-administration-heading">Compétences validées</h2>
    <p class="projet-administration-description">
      2 - Répondre aux incidents et aux demandes d’assistance et d’évolution
      <br />
      5 - Mettre à disposition des utilisateurs un service informatique
      <br/>
      6 - Organiser son développement professionnel
    </p>

    <div class="administration-btn">
      <a class="projet-cta--flex" target="_blank" href="https://docs.google.com/spreadsheets/d/11Z9Qi3tYghWAvhrd7YeAwAQnJpxM0IehkVotCg-chOg/edit#gid=1519693857">
        Tableau Competences
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>

  </div>
</section>
