<section class="section-projet-amp">
  <div class="container">
    <h1 class="projet-amp-title">
      Projets / Bilan-Social
    </h1>
    <picture>
      <source srcset="../assets/img/img-amp.png" type="image/png" />
      <img
        src="../assets/img/img-amp.png"
        class="projet-amp-img"
        alt="amp-home-page"
      />
    </picture>
    <h2 class="projet-amp-heading">Contexte</h2>
    <p class="projet-amp-description">
      Les utilisateurs navigants sur leurs appareils mobiles sont de plus en plus nombreux, de ce fait,
      il est impératif que le chargement d'une page WEB sur mobile doit être rapide.
    </p>

    <h2 class="projet-amp-heading">Besoin</h2>
    <p class="projet-amp-description">
      La technologie AMP n'autorise pas les fichiers javascript et certaines balises html.
      Pour cela le framework AMP propose une documentation pour aider les utilisateurs : <a target="_blank" href="https://amp.dev/">Documentation</a>
    </p>

    <h2 class="projet-amp-heading">Contexte Organisationnel</h2>
    <p class="projet-amp-description">
      J'ai travaillé avec mon tuteur de stage sur ce projet. Dont mon aide l'a été
      importante car cela nous a permit de rendre le projet aux clients beaucoup plus tôt pour se concentrer sur d'autres projets.
    </p>

    <h2 class="projet-amp-heading">Tâches réalisées</h2>
    <p class="projet-amp-description">
      Pendant ce stage j'ai pu terminer toutes les tâches qui m'on été confié.
      La technologie AMP est fonctionelle et déployer sur a les pplications des 2 clients d'AXELERIO.
    </p>

    <h2 class="projet-amp-heading">Compétences validées</h2>
    <p class="projet-amp-description">
      1 - Gérer le patrimoine informatique
      <br/>
      4 - Travailler en mode projet
      <br/>
      5 - Mettre à disposition des utilisateurs un service informatique
    </p>

    <div class="amp-btn">
      <a class="projet-cta--flex" target="_blank" href="https://docs.google.com/spreadsheets/d/11Z9Qi3tYghWAvhrd7YeAwAQnJpxM0IehkVotCg-chOg/edit#gid=1519693857">
        Tableau Competences
        <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>

  </div>
</section>
