<header class="header" (click)="clickEvent()" [ngClass]="status ? 'open' : 'danger'">

  <div class="nav-responsive">
    <a class="logo-nav-link" href="#">
      <h1 class="logo">Portfolio.</h1>
    </a>
    <button class="btn-mobile-nav">
      <img src="../../assets/img/Hamburger.svg">
    </button>
  </div>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="#parcours">Parcours</a></li>
      <li><a class="main-nav-link" href="#projet">Projets</a></li>
      <li><a class="main-nav-link" href="#veille">Veille Technologique</a></li>
      <li><a class="main-nav-link" href="#contact">Contact</a></li>
      <li>
        <a class="main-nav-link nav-cta" href="../../assets/CV/CV.pdf" target="_blank">
          Voir CV
          <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

</header>
