$primary: #3DCAB1;
$background-text-primary: #112437;
$background-text-secondary: #FEFEFE;
$accent-text: #2B455C;
$accent-background: #ECEDF6;

.header {
  top: 0!important;
  padding: 0 1.8rem!important;
  position: fixed!important;
  width: 100%!important;
  background-color: #FFF!important;
  z-index: 9999!important;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  height: 7.4rem;
  padding: 0 4.8rem;
  margin-bottom: 20rem;
  .nav-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-nav-link:link,
    .logo-nav-link:visited {
      text-decoration: none;
      font-size: 1.4rem;
      color: $background-text-primary;

      &:hover,
      &:active {
        color: $primary;
      }
    }
    .btn-mobile-nav {
      border: none;
      background: none;
      cursor: pointer;

      display: none;
    }
  }
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    .main-nav-link:link,
    .main-nav-link:visited {
      text-decoration: none;
      color: $background-text-primary;
      font-weight: 500;
      font-size: 1.8rem;
      transition: all 0.3s;
      &:hover,
      &:active {
        color: $primary;
      }
      &.nav-cta {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        &:link,
        &:visited {
          border: 0.2rem solid $background-text-primary;
          padding: 0.8rem 2rem;
          border-radius: 3rem;
          color: $background-text-secondary;
          background-color: $background-text-primary;
          svg {
            stroke: $background-text-secondary;
          }
        }
        &:hover,
        &:active {
          color: $background-text-primary;
          background-color: $accent-background;
          svg {
            stroke: $background-text-primary;
          }
        }
        svg {
          stroke: $background-text-primary;
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
  }
}
