$primary: #3DCAB1;
$background-text-primary: #112437;
$background-text-secondary: #FEFEFE;
$accent-text: #2B455C;
$accent-background: #ECEDF6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $primary;
  background-color: $accent-background;
  overflow-x: hidden;
}

@media (max-width: 1000px) {
  .projet-items {
    grid-template-columns: repeat(14, 1fr)!important;
    margin-bottom: 10rem;
  }
  .section-projet-list .container {
    display: grid!important;
    gap: 5rem!important;
  }
  .section-projet .container {
    display: grid!important;
    gap: 5rem!important;
  }
  .projet-list-heading {
    margin-bottom: 0!important;
  }
  .projet-list-description {
    margin-bottom: 0!important;
  }
  .projet-btn {
    margin-bottom: 5rem!important;
  }
  .section-projet.projet-btn {
    margin-bottom: 0!important;
  }
}

@media (max-width: 912px) {
  .veille-card-box {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .hero-description {
    font-size: 2rem!important;
  }
  .heading-primary {
    font-size: 5rem!important;
  }
  .hero-description.desc-last {
    font-size: 2rem!important;
  }
}

@media (max-width: 888px) {
  .projet-items {
    grid-template-columns: 0 !important;
    .projet-items-content {
      z-index: 4!important;
      grid-column: 1/8!important;
      padding: 4rem!important;
      margin-top: 0rem!important;
      .projet-items-tech {
        color: $primary!important;
      }
      p {
        color: $background-text-secondary!important;
      }
    }
    picture {
      position: relative!important;
      &:before {
        content: "" !important;
        width: 100%!important;
        height: 100%!important;
        position: absolute!important;
        //background-color: rgba(61,202,177,0.6);
        background-color: rgba(17,36,55,0.8);
        z-index: 2!important;
      }
    }
  }
}

@media (max-width: 866px) {
  .header {
    .nav-responsive {
      width: 100%!important;
    }
    &.open {
      flex-direction: column!important;
      gap: 2rem!important;
      .main-nav {
        width: 120%!important;
        display: block!important;
        margin-bottom: 5rem!important;
        background-color: #FFF!important;
        padding: 2rem!important;
        .main-nav-list {
          flex-direction: column!important;
        }
      }
    }
  }
  .parcours-box {
    grid-template-columns: 1fr !important;
  }
  .main-nav {
    display: none;
  }
  .btn-mobile-nav {
    display: block!important;
  }

}

@media (max-width: 812px) {
  .veille-card-box {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .hero-description {
    font-size: 1.6rem !important;
  }
  .heading-primary {
    font-size: 4rem !important;
  }
  .hero-description.desc-last {
    font-size: 1.6rem !important;
  }
  .hero-img-box {
    display: none;
  }
  .hero {
    grid-template-columns: 1fr!important;
    text-align: center!important;
  }
  .hero-box-flex {
    justify-content: space-evenly;
  }
}

@media (max-width: 730px) {
  .projet-items-content {
    h3 {
      font-size: 1.5rem!important;
    }
    p {
      font-size: 1.5rem!important;
    }
    .projet-items-box {
      font-size: 1.3rem!important;
    }
    .projet-items-tech {
      font-size: 1.3rem!important;
    }
    .projet-items-btn {
      font-size: 1.3rem!important;
    }
  }
}

@media (max-width: 614px) {
  .projet-list-responsive {
    display: flex!important;
    align-items: center!important;
    justify-content: space-between;
    .projet-items-btn {
      margin-bottom: 4rem!important;
    }
  }
  .projet-title-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 584px) {
  .hero-box-flex {
    flex-direction: column;
  }
}

@media (max-width: 566px) {
  .projet-items-content {
    padding: 1.5rem !important;
    .projet-title-flex {
      margin-top: 5rem;
      p {
        margin-top: 2rem!important;
      }
      h3 {
        margin-top: 2rem!important;
      }
    }
    .projet-items-box {
      font-size: 1rem!important;
    }
    .projet-list-responsive {
      display: block!important;
      .projet-items-tech {
        gap: 1rem!important;
        font-size: 1rem!important;
      }
    }
  }
}

@media (max-width: 510px) {
  .veille-card-box {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 510px) {
  .veille-list-heading {
    font-size: 4rem!important;
  }
}

@media (max-width: 430px) {
  .section-projet-list .projet-items-tech {
    justify-content: center!important;
  }
  .section-projet .projet-items-tech {
    justify-content: center!important;
  }
  .parcours-formation-heading {
    font-size: 2rem!important;
  }
  .parcours-description {
    font-size: 1.8rem!important;
  }
  .parcours-formation {
    padding: 2rem!important;
  }
  .section-parcours .container {
    padding: 0 1.2rem!important;
  }
  .parcours-skills::before {
    left: -1rem!important;
  }
  .projet-items .projet-items-content .projet-items-tech {
    color: $primary!important;
    font-weight: bold;
  }
  .projet-items-btn {
    display: flex!important;
    justify-content: center!important;
  }
  .section-projet-list .projet-items-content {
    padding: 0!important;
  }
  .section-projet-list .container {
    gap: 8rem!important;
  }
  .section-projet .projet-items-content {
    padding: 0!important;
  }
}

