<section id="hero" class="section-hero">
  <div class="hero">

    <div class="hero-text-box">
      <div class="hero-text-box--flex">
        <p class="hero-description">
          Bienvenue sur mon Portfolio je suis,
        </p>
        <h1 class="heading-primary">
          Stéphan Gueorguieff
        </h1>
        <p class="hero-description desc-last">
          Développeur web passioné d’UI / UX design, actuellement en 2ème année de BTS SIO option SLAM
        </p>
        <div class="hero-cta">
          <a class="hero-cta--flex" href="../../assets/CV/CV.pdf" target="_blank">
            Voir CV
            <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="hero-box-flex">
        <div class="hero-box--dribble">
          <div class="hero-box--content">

            <div class="hero-box--flex">
              <svg viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 1.52734C34.8594 1.52734 44.4547 11.1227 44.4547 22.9641C44.4547 34.8055 34.8594 44.4187 23 44.4187C11.1406 44.4187 1.54529 34.8234 1.54529 22.982C1.54529 11.1406 11.1406 1.52734 23 1.52734Z" fill="#E74D89"/>
                <path d="M23 45.9461C10.3141 45.9461 0 35.65 0 22.982C0 10.2961 10.3141 0 23 0C35.6859 0 46 10.2961 46 22.9641C46 35.632 35.6859 45.9461 23 45.9461ZM42.3883 26.1086C41.7234 25.893 36.3148 24.2938 30.1516 25.2641C32.7211 32.3078 33.7633 38.0578 33.9609 39.2437C38.3812 36.2789 41.5258 31.5711 42.3883 26.1086ZM30.6727 41.0586C30.3852 39.3336 29.2352 33.332 26.4859 26.1805C26.45 26.1984 26.3961 26.2164 26.3602 26.2164C15.2734 30.0797 11.3023 37.7523 10.943 38.4711C14.2672 41.0586 18.4539 42.6039 23 42.6039C25.7133 42.6219 28.3187 42.0648 30.6727 41.0586V41.0586ZM8.40938 36.1172C8.85859 35.3625 14.2492 26.45 24.3836 23.1617C24.6352 23.0719 24.9047 23 25.1562 22.9281C24.6711 21.8141 24.132 20.7 23.557 19.6039C13.7461 22.5328 4.22266 22.407 3.36016 22.3891C3.36016 22.5867 3.34219 22.7844 3.34219 22.982C3.36016 28.0312 5.26484 32.6313 8.40938 36.1172V36.1172ZM3.77344 18.975C4.65391 18.993 12.7398 19.0289 21.9398 16.5852C18.6875 10.7992 15.1656 5.94766 14.6625 5.24688C9.14609 7.83438 5.04922 12.9016 3.77344 18.975ZM18.4 3.91719C18.9391 4.63594 22.5148 9.4875 25.7312 15.3992C32.7211 12.7758 35.668 8.82266 36.0273 8.31953C32.5594 5.24688 27.9953 3.37812 23 3.37812C21.4187 3.37812 19.8734 3.57578 18.4 3.91719V3.91719ZM38.2016 10.5836C37.7883 11.1406 34.5 15.3633 27.2406 18.3281C27.6898 19.2625 28.1391 20.2148 28.5523 21.1672C28.6961 21.5086 28.8398 21.85 28.9836 22.1734C35.5242 21.3469 42.0109 22.6766 42.6578 22.8023C42.6039 18.1844 40.9508 13.9258 38.2016 10.5836V10.5836Z" fill="#B2215A"/>
              </svg>
              <p class="hero-box-heading">Maquette Portfolio</p>
            </div>
            <div class="hero-box-cta">
              <a class="hero-cta--flex" href="https://dribbble.com/shots/17977997-Mon-Portfolio?added_first_shot=true" target="_blank">
                Voir Maquette
                <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>

          </div>
        </div>

        <div class="hero-box--angular">
          <div class="hero-box--content">

            <div class="hero-box--flex">
              <svg viewBox="0 0 52 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_28_16)">
                  <path d="M0.0203094 9.31345L25.5751 0.142593L51.818 9.15039L47.5688 43.2048L25.5751 55.4734L3.92539 43.3679L0.0203094 9.31345Z" fill="#E23237"/>
                  <path d="M51.818 9.15039L25.5751 0.142593V55.4734L47.5688 43.2253L51.818 9.15039Z" fill="#B52E31"/>
                  <path d="M25.6155 6.60301L9.69191 42.2878L15.6404 42.1859L18.8374 34.1358H33.1222L36.6226 42.2878L42.3081 42.3897L25.6155 6.60301ZM25.6561 18.036L31.0381 29.367H20.9213L25.6561 18.036Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_28_16">
                    <rect width="52" height="55.6491" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <p class="hero-box-heading">Angular Portfolio</p>
            </div>
            <div class="hero-box-cta">
              <a class="hero-cta--flex" href="https://gitlab.com/gueste31/porfolio-stephan-gueorguieff" target="_blank">
                Voir Code
                <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.1667 5.83334L23.3333 14L15.1667 22.1667M4.66666 14H23.3333H4.66666Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="hero-img-box">
      <picture>
        <source srcset="../assets/img/iphone-12-pro-max--silver.png" type="image/png" />
        <img
          src="../assets/img/iphone-12-pro-max--silver.png"
          class="hero-img"
          alt="Portfolio Mobile Version"
        />
      </picture>
    </div>

  </div>
</section>

<app-parcours></app-parcours>

<app-projet></app-projet>

<app-veille></app-veille>

<app-contact></app-contact>
