$primary: #3DCAB1;
$background-text-primary: #112437;
$background-text-secondary: #FEFEFE;
$accent-text: #2B455C;
$accent-background: #ECEDF6;

.section-hero {
  margin: 10rem 0 9.6rem 0;
  .hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 9.6rem;
    align-items: center;
    .hero-text-box {
      .hero-description {
        color: $background-text-primary;
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        line-height: 150%;
      }
      .hero-description.desc-last {
        margin-bottom: 0rem;
      }
      .heading-primary {
        color: $primary;
        font-size: 6rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }
      .hero-cta {
        box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        margin: 5rem 0;
        padding: 0.8rem 2rem;
        border-radius: 3rem;
        color: $background-text-secondary;
        background-color: $background-text-primary;
        font-weight: 500;
        font-size: 1.8rem;
        border: 0.2rem solid $background-text-primary;

        display: inline-block;
        transition: all 0.3s;
        &:hover {
          background-color: $primary;
        }
        .hero-cta--flex {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 0.7rem;
          color: $background-text-secondary;
          svg {
            stroke: $background-text-secondary;
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }
    .hero-box-flex {
      display: flex;
      gap: 5rem;

      .hero-box--dribble {
        background-color: $background-text-primary;
        padding: 2rem;
        border-radius: 0.6rem;
        box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.25);
        .hero-box--content {
          .hero-box--flex {
            display: flex;
            align-items: center;
            gap: 2rem;
            padding-bottom: 1rem;
            border-bottom: 0.3rem solid $primary;
            justify-content: center;
            .hero-box-heading{
              color: $background-text-secondary;
              font-weight: 500;
              font-size: 1.9rem;
            }
            svg {
              stroke: $background-text-primary;
              width: 4rem;
              height: 4rem;
            }
          }
          .hero-box-cta {
            border: 0.2rem solid $primary;
            margin-top: 1rem;
            cursor: pointer;
            padding: 0.8rem 2rem;
            border-radius: 3rem;
            background-color: $background-text-secondary;
            font-weight: bold;
            font-size: 1.8rem;
            transition: all 0.3s;
            &:hover {
              background-color: $primary;
            }
            .hero-cta--flex {
              text-decoration: none;
              display: flex;
              align-items: center;
              gap: 0.7rem;
              justify-content: center;
              color: $background-text-primary;
              svg {
                stroke: $background-text-primary;
                width: 3rem;
                height: 3rem;
              }
            }
          }
        }
      }

      .hero-box--angular {
        background-color: $background-text-secondary;
        padding: 2rem;
        border-radius: 0.6rem;
        box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.25);
        .hero-box--content {
          .hero-box--flex {
            display: flex;
            align-items: center;
            gap: 2rem;
            padding-bottom: 1rem;
            border-bottom: 0.3rem solid $primary;
            justify-content: center;
            .hero-box-heading{
              color: $background-text-primary;
              font-weight: 500;
              font-size: 1.9rem;
            }
            svg {
              width: 4rem;
              height: 4rem;
            }
          }
          .hero-box-cta {
            margin-top: 1rem;
            border: 0.2rem solid $background-text-primary;
            cursor: pointer;
            padding: 0.8rem 2rem;
            border-radius: 3rem;
            background-color: $background-text-secondary;
            font-weight: bold;
            font-size: 1.8rem;
            transition: all 0.3s;
            &:hover {
              background-color: $accent-background;
            }
            .hero-cta--flex {
              display: flex;
              align-items: center;
              gap: 0.7rem;
              text-decoration: none;
              color: $background-text-primary;
              justify-content: center;
              svg {
                stroke: $background-text-primary;
                width: 3rem;
                height: 3rem;
              }
            }
          }
        }
      }
    }
    .hero-img-box {
      .hero-img {
        width: 100%;
      }
    }
  }
}
