$primary: #3DCAB1;
$background-text-primary: #112437;
$background-text-secondary: #FEFEFE;
$accent-text: #2B455C;
$accent-background: #ECEDF6;

.section-veille-list {
  margin-top: 10rem;
  padding: 1rem 0 9.6rem 0;
  .container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    .veille-list-heading {
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 5rem;
      margin: 3rem 0 5rem;
    }
    .veille-list-description {
      color: $background-text-primary;
      font-size: 2rem;
      line-height: 150%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 5rem;
    }
    .veille-card-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      margin-bottom: 10rem;
      .veille-content {
        display: flex;
        align-items: center;
        justify-content: center;

        .veille-content-card {
          display: flex;
          flex-direction: column;
          height: 100%;
          background-color: $accent-text;
          border-radius: 0.3rem;
          padding: 1.6rem;

          .card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.6rem;
            svg {
              width: 3rem;
              height: 3rem;
            }

            .card-header-social {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 2rem;
              svg {
                width: 3rem;
                height: 3rem;
              }
            }
          }

          .card-heading {
            color: $primary;
            font-size: 2rem;
            margin-bottom: 1.6rem;
          }

          .card-description {
            color: $accent-background;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 150%;
          }
        }
      }
    }
  }
}
